
.dropmenu{
border:none;
border:0px;
margin:0px;
padding:0px;
/* font: "sans-serif"; */
font-size:18px;
}

/* .dropmenu ul{
background: #666;
height:100px;
list-style:none;
margin:0;
padding:0;
}

.dropmenu li{
float:left;
padding:0px;
} */

.dropmenu li a{
/* background: #666;
color:#fff; */
display:block;
line-height:50px;
margin:0px;
padding:0px 25px; /* 메뉴 글씨 간 간격 */
text-align:center;
text-decoration:none;
}

.dropmenu li a:hover, .dropmenu ul li:hover a{
/* background: rgb(31,31,31); */
/* color:#FFFFFF; */
text-decoration:none;
}

.dropmenu li ul{
/* background: red; */
display:none; 
height:auto;
border:0px;
position:absolute;
width:80px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.dropmenu li:hover ul{
display:block;
}

.dropmenu li li {
background: red;
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.dropmenu li:hover li a{
background:none;
}

.dropmenu li ul a{
display:block;
height:50px; 			/*내려오는 block 높이  */
font-size:14px;
margin:0px;
padding:10px 10px 10px 10px;
text-align:left;
}

.dropmenu li ul a:hover, .dropmenu li ul li:hover a{
/* background: rgb(171,171,171); */
border:0px;
/* color:#ffffff; */
text-decoration:none;
}

.dropmenu p{
clear:left;
}

